body {
  font-family: "Raleway";
  line-height: 25px;
}
.topbar {
  z-index: 100;
  width: 100%;
  height: 45px;
  background-color: #5385c1;
  /* float: left; */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.topbaritems {
  margin: 0 auto;
  width: 1280px;
  /* background-color: green; */
  height: 45px;
  top: 12px;
  position: relative;
  /* text-decoration: none; */
}
.topbaritems a {
  text-decoration: none;
}
.floatlinkleft {
  float: left;
}
.topbaritems a {
  color: white;
}
.floatlinksright {
  float: right;
  margin-left: 50px;
}
.paddinglinkleft {
  padding-left: 10px;
}
.semostext {
  font-weight: bold;
}
.entirepagesection {
  width: 1280px;
  /* background-color: red; */
  height: 1100px;
  /* float: left; */
  margin-top: 14px;
  margin: 0 auto;
}
.entirepagesection h1 {
  text-align: center;
  color: #5385c1;
  font-size: 45px;
}
.paddingtop200px {
  padding-top: 120px;
}

.aliquam {
  text-align: center;
  color: #5385c1;
  margin-top: 10px;
  font-size: 20px;
  padding-bottom: 60px;
}
.twotextparagraphs {
  text-align: left;
  /* color: green; */
  font-size: 18px;
}
.twoimages {
  /* background-color: green; */

  text-align: left;
  /* border: 1px solid black; */
  width: 578px;
  height: 403px;
}
.image-1 {
  /* background-color: red; */
  float: left;
}

.floatrightp {
  float: right;
}
.twoimages p {
  text-align: justify;
}
.twoimages h1 {
  text-align: left;
  font-size: 25px;
}
.buttonfornunc {
  color: white;
  background-color: #5385c1;
  border: none;
  font-size: 25px;
  padding: 10px 25px;
}

.footer {
  width: 1280px;
  margin: 0 auto;
  /* background-color: aqua; */
  border-top: 1px solid #9a9a9a;
  margin-top: 315px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer p {
  /* padding-left:313px; */
  color: #5a5a5a;
  display: inline;
}
.socialmediaicons {
  float: right;
  /* margin-right: 311px; */
  display: inline;
  /* padding-left: 10px; */
}
.imgpaddingleft {
  padding-left: 5px;
}

.hideburgermenu {
  display: none;
}
.paddinglinkleft {
  padding-left: 10px;
}

@media (max-width: 768px) {
  .hideburgermenu {
    display: inline;
    width: 23px;
    margin-top: 1px;
    margin-right: 11px;
  }
  .topbar {
    width: 768px;
  }
  .hide {
    display: none;
  }
  .topbaritems {
    max-width: 690px;
    /* background-color: red; */

    width: 100%;
  }
  .aliquam {
    padding-bottom: 20px;
  }
  .entirepagesection {
    width: 768px;
    top: 45px; /* this is causing errors , not enabling the responsivesness */
    position: relative;
    margin-top: 60px; /*this si wrong fix it */
    /* text-align: center; */
  }

  .firsttextparagraph {
    width: 690px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
  }
  .secondtextparagraph {
    width: 690px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
  }
  .image-2 {
    width: 690px;
    height: 500px;
    /* background-color: green; */
    /* float: left; */
    margin-top: 35px;
    margin: 0 auto;
  }
  .image-1 {
    width: 690px;
    margin: 0 auto;
    position: relative;
    /* background-color: yellow; */
    clear: both;
    float: none;
    height: 433px;
  }
  .image-1 img {
    width: 100%;
  }
  .image-1 h1 {
    text-align: center;
  }
  .image-1 p {
    text-align: center;
  }
  .image1button {
    width: 100%;
    height: 55px;
  }

  .image-2 {
    width: 690px;
    margin: 0 auto;
    position: relative;
    /* background-color: yellow; */
    clear: both;
    float: none;
    height: 433px;
    margin-top: 25px;
  }
  .image-2 img {
    width: 100%;
  }
  .image-2 h1 {
    text-align: center;
  }
  .image-2 p {
    text-align: center;
  }
  .image2button {
    width: 100%;
    height: 55px;
  }
  .footer {
    position: relative;
    margin-bottom: 0px;
    width: 690px;
    margin: auto;
    bottom: -1070px;
    margin-left: 40px;
  }
  .paddingtop200px {
    padding-top: 0px;
  }

  .socialmediaicons {
    position: relative;
    float: left;
    margin-top: -45px;
    margin-left: 286px;
    /* margin-right: 311px; */
    display: inline;
    /* padding-left: 10px; */
  }
  .footer p {
    padding-left: 175px;
    color: #5a5a5a;
    display: inline;
    
    margin-top: 50px;
    margin: 0 auto;

    top: 22px;
    position: relative;
}
}

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */
