body {
  font-family: "Raleway";
  line-height: 25px;
}
.topbar {
  z-index: 100;
  width: 100%;
  height: 45px;
  background-color: #5385c1;
  /* float: left; */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.topbaritems {
  margin: 0 auto;
  width: 1280px;
  /* background-color: green; */
  height: 45px;
  top: 12px;
  position: relative;
  /* text-decoration: none; */
}
.topbaritems a {
  text-decoration: none;
}
.floatlinkleft {
  float: left;
}
.topbaritems a {
  color: white;
}
.floatlinksright {
  float: right;
  margin-left: 50px;
}
.paddinglinkleft {
  padding-left: 10px;
}
.semostext {
  font-weight: bold;
}
.entirepagesection {
  width: 1280px;
  /* background-color: red; */
  height: 1100px;
  /* float: left; */
  margin-top: 14px;
  margin: 0 auto;
}
.entirepagesection h1 {
  text-align: center;
  color: #5385c1;
  /* padding-top: 80px; */
  font-size: 45px;
}
.aliquam {
  text-align: center;
  color: #5385c1;
  margin-top: 10px;
  font-size: 20px;
  padding-bottom: 12px;
}
.twotextparagraphs {
  text-align: left;
  /* color: green; */
  font-size: 18px;
}
.twoimages {
  /* background-color: green; */

  text-align: left;
  /* border: 1px solid black; */
  width: 578px;
  height: 500px;
  float: left;
}
.image-1 {
  /* background-color: red; */
}
.image-2 {
  background-color: blue;
}
.floatrightp {
  float: right;
}
.twoimages p {
  text-align: justify;
}
.twoimages h1 {
  text-align: left;
  font-size: 25px;
}
.buttonfornunc {
  color: white;
  background-color: #5385c1;
  border: none;
  font-size: 25px;
  padding: 10px 25px;
}

.footer {
  width: 1280px;
  margin: 0 auto;
  /* background-color: aqua; */
  border-top: 1px solid #9a9a9a;
  margin-top: 95px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer p {
  /* padding-left:313px; */
  color: #5a5a5a;
  display: inline;
}
.socialmediaicons {
  float: right;
  /* margin-right: 311px; */
  display: inline;
  /* padding-left: 10px; */
}
.imgpaddingleft {
  padding-left: 5px;
}


.hamburgermenuimg {
  width: 30px;
  float: left;
  position: absolute;
  margin: 0;
  display: none;
  /* border: 1px solid black; */
}
.hideburgermenu {
  display: none;
}




@media (max-width: 768px) {
  .topbar {
    width: 768px;
  }
  .hide {
    display: none;
  }
  .topbaritems {
    max-width: 690px;
    background-color: red;
    
    width: 100%;
  }
  .entirepagesection {
    width: 768px;
    top: 65px;
    position: relative;
    /* text-align: center; */
  }
  .firsttextparagraph {
    width: 690px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
  }
  .secondtextparagraph {
    width: 690px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
  }
  .twoimages {
    /* margin: 0 auto; */
    /* display: block; */
    /* width: 768px; */
    /* background-color: #5385c1; */
  }
  .image-1 {
    margin: 0 auto;
    width: 690px;
    /* background-color: violet; */
    display: block;
    margin: 0 auto;
    width: 690px;
    position: relative;
  }
  .image-1 img{
    width: 690px;
  }
  .image-1 h1{
    padding-top: 10px;
    width: 690px;
    text-align: center;
  }
  .image-1 p{
    width: 690px;
    text-align: center;
  }
  .image-1 button{
    width: 690px;
  }

  .image-2 {
    /* position: relative;
    border: 10px solid black; */
    display: block;
    background-color: thistle;
    display: block;
    margin: 0 auto;
    width: 690px;
  }
  .image-2 img{
    width: 690px;
  }
  .image-2 h1{
    padding-top: 10px;
    width: 690px;
    text-align: center;
  }
  .image-2 p{
    width: 690px;
    text-align: center;
  }
  .image-2 button{
    width: 690px;
  }
}

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */
