body {
  font-family: "Raleway";
}
.topbar {
  width: 100%;
  height: 45px;
  background-color: #5385c1;
  /* float: left; */
}
.topbaritems {
  margin: 0 auto;
  width: 1280px;
  /* background-color: green; */
  height: 45px;
  top: 12px;
  position: relative;
  /* text-decoration: none; */
}
.topbaritems a {
  text-decoration: none;
}
.floatlinkleft {
  float: left;
}
.topbaritems a {
  color: white;
}
.floatlinksright {
  float: right;
  margin-left: 50px;
}
.paddinglinkleft {
  padding-left: 10px;
}
.semostext {
  font-weight: bold;
}
.entirepagesection {
  width: 1280px;
  /* background-color: red; */
  height: 1100px;
  /* float: left; */
  margin-top: 14px;
  margin: 0 auto;
}
.entirepagesection h1 {
  text-align: center;
  color: #5a5a5a;
  padding-top: 12px;
  font-size: 45px;
}
.aliquam {
  text-align: center;
  color: #5385c1;
  padding-top: -30px;
  font-size: 20px;
}
.twotextparagraphs {
  text-align: left;
  color: green;
  font-size: 18px;
}
.twoimages {
  /* background-color: green; */
  text-align: left;
  /* border: 1px solid black; */
  width: 578px;
  height: 500px;
  float: left;
}
.floatrightp {
  float: right;
}
.twoimages p {
  text-align: justify;
}
.twoimages h1 {
  text-align: left;
  font-size: 25px;
}
.buttonfornunc {
  color: white;
  background-color: #5385c1;
  border: none;
  font-size: 25px;
  padding: 10px 25px;
}

.footer {
  width: 1280px;
  margin: 0 auto;
  /* background-color: aqua; */
  border-top: 1px solid #9a9a9a;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer p {
  /* padding-left:313px; */
  color: #5a5a5a;
  display: inline;
}
.socialmediaicons {
  float: right;
  /* margin-right: 311px; */
  display: inline;
  /* padding-left: 10px; */
}
.imgpaddingleft {
  padding-left: 5px;
}
@media only screen and (max-width: 768px) {
}

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */
