/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap'); */
/* font-family: 'Raleway', sans-serif; */
body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 10 !important;
}
.landing-page100percent {
  width: 100%;
  /* background-color: red; testing purposes */
  height: 500px;
  left: 0px;
  right: 0px;
}
.bluetopheaderline {
  width: 100%;
  background-color: #5385c1;
  height: 10px;
}
.spaceheroimage {
  background-image: url(/images/banner.jpg);
  height: 540px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  text-align: center;
}
.ultextareas {
  height: 450px;
  width: 100%;
  /* background-color: white; */
}
.bluepeoplesection {
  height: 780px;
  width: 100%;
  background-color: #5385c1;
}
.nuncdignissim {
  height: 710px;
  width: 100%;
  /* background-color: red; */
}
.nunc1280px {
  width: 1280px;
  height: 685px;
  margin: 0 auto;
}
.nunc1280px h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 50px;
  color: #5385c1;
}
.nunc1280px p {
  text-align: center;
  /* padding-top: 50px; */
  font-size: 25px;
  color: #5a5a5a;
}
.desktoptext {
  width: 1280px;
  /* background-color: blue; */
  margin: 0 auto;
}
.desktopstarttext {
  height: 500px;
  width: 1280px;
  /* background-color: red; */
  margin: 0 auto;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.desktopstarttext a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 5px;
  margin-top: 10px;
}
.desktopstarttext {
  padding-top: 100px;
}
.boldsemos {
  font-weight: bold;
}
.whitecolorfont {
  color: white;
  font-family: "raleway";
  padding-top: 50px;
  font-size: 60px;
  opacity: 80%;
}
.whitep {
  color: white;
  opacity: 80%;
}

.uldesktopv {
  height: 500px;
  width: 1280px;
  /* background-color: red; */
  margin: 0 auto;
}
.threeparagraphs {
  width: 372px;
  height: 250px;
  margin-top: 100px;
  float: left;
  /* background-color: red; */
  /* padding-top: 60px; */
  padding: 10px;
  border-right: 2px solid #9a9a9a;
}
.threeparagraphs h1 {
  color: #5385c1;
  font-size: 20px;
}
.threeparagraphs p {
  color: black;
  font-size: 20px;
  padding-right: 45px;

}
.secondp,.thirdp{
  padding-left: 60px;
}
.threeparagraphs button {
  color: white;
  background-color: #5385c1;
  border: none;
  font-size: 25px;
  padding: 10px 25px;
}
.norightborder {
  border-right: none;
}
.bluepeoplesection h1 {
  text-align: center;
  padding-top: 70px;
  font-size: 50px;
  color: white;
}
.bluepeoplesection p {
  text-align: center;
  font-size: 25px;
  color: white;
}
.bluepeople1280 {
  width: 1280px;
  height: 780px;
  /* background-color: red; */
  margin: 0 auto;
}
.users {
  width: 274px;
  border: 1px solid #9a9a9a;
  height: 430px;
  float: left;
  margin-right: 58px;
  text-align: center;
}
.users h3 {
  text-align: center;
  color: white;
  font-size: 30px;
}
.users img {
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 50px;
}
.nomarginright {
  margin-right: 0px;
}
.twoimages {
  /* background-color: green; */
  text-align: left;
  /* border: 1px solid black; */
  width: 578px;
  height: 500px;
  float: left;
}
.floatrightp {
  float: right;
}
.buttonfornunc {
  color: white;
  background-color: #5385c1;
  border: none;
  font-size: 25px;
  padding: 10px 25px;
}
.twoimages p {
  text-align: justify;
}
.twoimages h1 {
  text-align: left;
  font-size: 25px;
}
.footer {
  width: 1280px;
  margin: 0 auto;
  /* background-color: aqua; */
  border-top: 1px solid #9a9a9a;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer p {
  /* padding-left:313px; */
  color: #5a5a5a;
  display: inline;
}
.socialmediaicons {
  float: right;
  /* margin-right: 311px; */
  display: inline;
  /* padding-left: 10px; */
}
.imgpaddingleft {
  padding-left: 5px;
}
